<section class="animal">
    <div class="animal__container container">
        <div class="animal__header">
            <button class="animal__back back" (click)="goBack()">
                <fa-icon class="back__icon icon" icon="chevron-left"></fa-icon>
                <span class="back__text">Назад</span>
            </button>
            <h2 class="animal__title">Карточка учета животного №{{animal.card_num}}</h2>
        </div>
        <div class="animal__city-date">
            <p class="animal__text">г. Москва</p>
            <p class="animal__text">Дата: {{animal.Pets_move.date_in}}</p>
        </div>
        <p class="animal__text">Приют для животных по адресу: {{animal.Shelter.address}}</p>
        <p class="animal__text">Эксплуатирующая организация: {{animal.Shelter.responsible}}</p>
        <p class="animal__text">Номер вольера: {{animal.enclosure}}</p>
        <div class="animal__main">
            <h3 class="animal__subtitle">Основные сведения:</h3>
            <div class="animal__info info">
                <!-- <div class="info__image">
                    <img class="info__image-img">
                </div> -->
                <div class="info__content content">
                    <div class="content__header">
                        <div class="content__column">
                            <p class="animal__text">Собака</p>
                            <p class="animal__text">Пол</p>
                            <p class="animal__text">Окрас</p>
                            <p class="animal__text">Уши</p>
                            <p class="animal__text">Размер</p>
                            <p class="animal__characteristic-special">Особые приметы</p>
                        </div>
                        <div class="content__column"></div>
                        <p class="animal__text">Возраст</p>
                        <p class="animal__text">Вес</p>
                        <p class="animal__text">Кличка</p>
                        <p class="animal__text">Порода</p>
                        <p class="animal__text">Шерсть</p>
                        <p class="animal__text">Хвост</p>
                    </div>
                    <p class="animal__text">Характер</p>
                </div>
            </div>
            <p class="animal__text">Идентификационная метка</p>
            <p class="animal__text">Дата стерилизации </p>
            <p class="animal__text">Место стерилизации </p>
            <p class="animal__text">Ф.И.О. ветеринарного врача </p>
            <p class="animal__text">Социализировано/готово к пристройству</p>
        </div>
        <h3 class="animal__subtitle">Сведение об отлове</h3>
        <p class="animal__text">Заказ-наряд № "что-то" от "дата"</p>
        <p class="animal__text">Акт-отлова № "что-то" от "дата"</p>
        <p class="animal__text">Адрес места отлова </p>
        <p class="animal__text">Видеофиксация отлова</p>
        <p class="animal__text">Юридическое лицо</p>
        <p class="animal__text">адрес</p>
        <p class="animal__text">телефон</p>
        <p class="animal__text">Ф.И.О. опекунов: </p>
        <p class="animal__text">контактные данные: </p>
        <p class="animal__text">Физическое лицо (Ф.И.О.):</p>
        <p class="animal__text">паспорт РФ серии</p>
        <p class="animal__text">номер</p>
        <p class="animal__text">выдан "теми теми теми" года</p>
        <p class="animal__text">зарегистрированный (ая) по адресу: </p>
        <p class="animal__text">контактные данные: </p>
        <h2 class="animal__subtitle">Движение животного</h2>
        <p class="animal__text">Дата поступления в приют: ,</p>
        <p class="animal__text">Акт № </p>
        <p class="animal__text">Дата выбытия из приюта: ,</p>
        <p class="animal__text">Акт № </p>
        <p class="animal__text">Причина выбытия из приюта: </p>
        <table class="animal__sanitation-table">
            <tr>
                <th>№ п/п</th>
                <td>"будет"</td>
            </tr>
            <tr>
                <th>Дата</th>
                <td>"будет"</td>
            </tr>
            <tr>
                <th>Препарат</th>
                <td>"будет"</td>
            </tr>
            <tr>
                <th>Доза</th>
                <td>"будет"</td>
            </tr>
            <tr>
                <th>Подпись ветеринарного врача и печать</th>
                <td>"будет"</td>
            </tr>
        </table>
        <table class="animal__vaccination-table">
            <tr>
                <th>№ п/п</th>
                <td>"будет"</td>
            </tr>
            <tr>
                <th>Дата</th>
                <td>"будет"</td>
            </tr>
            <tr>
                <th>Вид вакцины</th>
                <td>"будет"</td>
            </tr>
            <tr>
                <th>№ серии </th>
                <td>"будет"</td>
            </tr>
            <tr>
                <th>Подпись ветеринарного врача и печать</th>
                <td>"будет"</td>
            </tr>
        </table>
        <table class="animal__health-table">
            <tr>
                <th>№ п/п</th>
                <td>"будет"</td>
            </tr>
            <tr>
                <th>Дата осмотра</th>
                <td>"будет"</td>
            </tr>
            <tr>
                <th>Вес</th>
                <td>"будет"</td>
            </tr>
            <tr>
                <th>Анамнез</th>
                <td>"будет"</td>
            </tr>
            <tr>
                <th>Подпись ветеринарного врача и печать</th>
                <td>"будет"</td>
            </tr>
        </table>
        <h2 class="animal__subtitle">Ответственные за животное</h2>
        <p class="animal__text">Ф.И.О. руководителя приюта/подпись: </p>
        <p class="animal__text">Ф.И.О. сотрудника по уходу за животным/подпись: </p>
    </div>
</section>