<section class="animal">
    <div class="animal__container container">
        <div class="animal__header">
            <button class="animal__back back" (click)="goBack()">
                <fa-icon class="back__icon icon" icon="chevron-left"></fa-icon>
                <span class="back__text">Назад</span>
            </button>
            <h2 class="animal__title">Карточка учета животного №{{animal.card_num}}</h2>
        </div>
        <div class="animal__city-date">
            <p class="animal__text">г. Москва</p>
            <p class="animal__text">Дата: {{animal.Pets_move.date_in}}</p>
        </div>
        <p class="animal__text">Приют для животных по адресу: {{animal.Shelter.address}}</p>
        <p class="animal__text">Эксплуатирующая организация: {{animal.Shelter.responsible}}</p>
        <p class="animal__text">Номер вольера: {{animal.enclosure}}</p>
        <div class="animal__main">
            <h3 class="animal__subtitle">Основные сведения:</h3>
            <div class="animal__info info">
                <!-- <div class="info__image">
                    <img class="info__image-img">
                </div> -->
                <div class="info__content content">
                    <div class="content__header">
                        <div class="content__column">
                            <p class="animal__text">Вид: {{animal.species}}</p>
                            <p class="animal__text">Пол: {{animal.gender}}</p>
                            <p class="animal__text">Окрас: {{animal.hair_color}}</p>
                            <p class="animal__text">Уши: {{animal.ears_type}}</p>
                            <p class="animal__text">Размер: {{animal.size}}</p>
                            <p class="animal__characteristic-special">Особые приметы: {{animal.special}}</p>
                        </div>
                        <div class="content__column"></div>
                        <p class="animal__text">Возраст: {{animal.age}}</p>
                        <p class="animal__text">Вес: {{animal.weight}}</p>
                        <p class="animal__text">Кличка: {{animal.name}}</p>
                        <p class="animal__text">Порода: {{animal.breed}} </p>
                        <p class="animal__text">Шерсть: {{animal.hair_type}}</p>
                        <p class="animal__text">Хвост: {{animal.tail_type}}</p>
                    </div>
                    <p class="animal__text">Характер: --</p>
                </div>
            </div>
            <p class="animal__text">Идентификационная метка: {{animal.Pets_additional.id_tag}}</p>
            <p class="animal__text">Дата стерилизации: {{animal.Pets_additional.ster_date}} </p>
            <p class="animal__text">Место стерилизации: --</p>
            <p class="animal__text">Ф.И.О. ветеринарного врача: {{animal.Pets_additional.doctor}} </p>
            <p class="animal__text">Социализировано/готово к пристройству: {{animal.Pets_additional.socialised}}</p>
        </div>
        <h3 class="animal__subtitle">Сведение об отлове</h3>
        <p class="animal__text">Заказ-наряд №{{animal.Pets_catch_info.catch_report}} от --</p>
        <p class="animal__text">Акт-отлова №{{animal.Pets_catch_info.order_num}} от --</p>
        <p class="animal__text">Адрес места отлова: {{animal.Pets_catch_info.catch_address}} </p>
        <p class="animal__text">Видеофиксация отлова: --</p>
        <p class="animal__text">Юридическое лицо: --</p>
        <p class="animal__text">адрес: --</p>
        <p class="animal__text">телефон: --</p>
        <p class="animal__text">Ф.И.О. опекунов: --</p>
        <p class="animal__text">контактные данные: --</p>
        <p class="animal__text">Физическое лицо (Ф.И.О.): --</p>
        <p class="animal__text">паспорт РФ серии: --</p>
        <p class="animal__text">номер: --</p>
        <p class="animal__text">выдан -- года,</p>
        <p class="animal__text">зарегистрированный (ая) по адресу: --</p>
        <p class="animal__text">контактные данные: --</p>
        <h2 class="animal__subtitle">Движение животного</h2>
        <p class="animal__text">Дата поступления в приют: {{animal.Pets_move.date_in}}</p>
        <p class="animal__text">Акт №{{animal.Pets_move.act}} </p>
        <p class="animal__text">Дата выбытия из приюта: {{animal.Pets_move.date_out}}</p>
        <p class="animal__text">Акт №{{animal.Pets_move.order}}</p>
        <p class="animal__text">Причина выбытия из приюта: {{animal.Pets_move.reason}}</p>
        <h2 class="animal__subtitle">Сведения об обработке от экто- и эндопаразитов</h2>
        <table class="animal__sanitation-table">
            <tr>
                <th>№ п/п</th>
                <th>Дата</th>
                <th>Препарат</th>
                <th>Доза</th>
                <th>Подпись ветеринарного врача и печать</th>
            </tr>
            <tr>
                <td *ngFor="let order of animal.Pets_sanitations">{{order.order}}</td>
                <td *ngFor="let date of animal.Pets_sanitations">{{date.date}}</td>
                <td *ngFor="let medicine of animal.Pets_sanitations">{{medicine.medicine}}</td>
                <td *ngFor="let dose of animal.Pets_sanitations">{{dose.dose}}</td>
                <td>--</td>
            </tr>
        </table>
        <h2 class="animal__subtitle">Сведения о вакцинации</h2>
        <table class="animal__vaccination-table">
            <tr>
                <th>№ п/п</th>
                <th>Дата</th>
                <th>Вид вакцины</th>
                <th>№ серии </th>
                <th>Подпись ветеринарного врача и печать</th>
            </tr>
            <tr>
                <td *ngFor="let order of animal.Pets_vaccinations">{{order.order}}</td>
                <td *ngFor="let date of animal.Pets_vaccinations">{{date.date}}</td>
                <td *ngFor="let vaccine of animal.Pets_vaccinations">{{vaccine.vaccine}}</td>
                <td *ngFor="let series of animal.Pets_vaccinations">{{series.series}}</td>
                <td>--</td>
            </tr>
        </table>
        <h2 class="animal__subtitle">Сведения о состоянии здоровья</h2>
        <table class="animal__health-table">
            <tr>
                <th>№ п/п</th>
                <th>Дата осмотра</th>
                <th>Вес</th>
                <th>Анамнез</th>
                <th>Подпись ветеринарного врача и печать</th>
            </tr>
            <tr>
                <td>{{animal.Pets_health.id}}</td>
                <td>{{animal.Pets_health.check_date}}</td>
                <td>--</td>
                <td>{{animal.Pets_health.anamnesis}}</td>
                <td>--</td>
            </tr>
        </table>
        <h2 class="animal__subtitle">Ответственные за животное</h2>
        <p class="animal__text">Ф.И.О. руководителя приюта/подпись: {{animal.Shelter.chief}}</p>
        <p class="animal__text">Ф.И.О. сотрудника по уходу за животным/подпись: {{animal.Pets_responsible.person}} ??</p>
    </div>
</section>