.animal {
    padding-top: 20px;
    &__container {
        max-width: 1000px;
    }
    &__header {
        position: relative;
    }
    &__back {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    &__title {
        text-align: center;
        text-transform: uppercase;
    }
    &__city-date {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }
    &__text {
        margin-top: 8px;
    }
    &__main {}
    &__subtitle {}
    &__info {}
    &__characteristic-special {}
    &__sanitation-table {}
    &__vaccination-table {}
    &__health-table {}
}

.info {
    &__image {}
    &__image-img {}
    &__content {}
}

.content {
    &__header {}
    &__column {}
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 80%;
}

th,
td {
    border: 1px solid black;
    text-align: center;
    padding: 12px 8px;
}