<section class="animal">
    <div class="animal__container container">
        <!-- <div class="pet__header">
            <button class="pet__back back">
                <fa-icon class="back__icon icon" icon="chevron-left"></fa-icon>
                <span class="back__text">Назад</span>
            </button>
        </div> -->

        <h2 class="animal__title">КАРТОЧКА УЧЕТА ЖИВОТНОГО № {{petNum[0]}}</h2>
        <div class="animal__city-data">
            <p class="animal__city">г. Москва</p>
            <p class="animal__data">Тут будет дата</p>
        </div>
        <p class="animal__address">Приют для животных по адресу: </p>
        <p class="animal__organization">Эксплуатирующая организация: </p>
        <p class="animal__enclosure">Номер вольера: </p>
        <div class="animal__main">
            <h1>Основные сведения:</h1>
            <div class="animal__characteristic">
                <div class="animal__characteristic-photo">
                    <p class="animal__text">Фото животного</p>
                </div>
                <div class="animal__characteristic-text">
                    <p class="animal__characteristic-dog">Собака</p>
                    <p class="animal__characteristic-cat">Кошка</p>
                    <p class="animal__characteristic-age">Возраст</p>
                    <p class="animal__characteristic-weight">Вес</p>
                    <p class="animal__characteristic-name">Кличка</p>
                    <p class="animal__characteristic-gender">Пол</p>
                    <p class="animal__characteristic-breed">Порода</p>
                    <p class="animal__characteristic-hair_color">Окрас</p>
                    <p class="animal__characteristic-hair_type">Шерсть</p>
                    <p class="animal__characteristic-ears-type">Уши</p>
                    <p class="animal__characteristic-tail-type">Хвост</p>
                    <p class="animal__characteristic-size">Размер</p>
                    <p class="animal__characteristic-special">Особые приметы</p>
                    <p class="animal__characteristic-character">Характер</p>
                </div>
            </div>
            <p class="animal__characteristic-id_tag">Идентификационная метка</p>
            <p class="animal__characteristic-data_sterilization">Дата стерилизации </p>
            <p class="animal__characteristic-place_sterilization">Место стерилизации </p>
            <p class="animal__characteristic-name_doctor">Ф.И.О. ветеринарного врача </p>
            <p class="animal__characteristic-social">Социализировано/готово к пристройству</p>
        </div>
        <div class="animal__catching">
            <h2>Сведение об отлове</h2>
            <p>Заказ-наряд № "что-то" от "дата"</p>
            <p>Акт-отлова № "что-то" от "дата"</p>
            <p>Адрес места отлова </p>
            <p>Видеофиксация отлова</p>
        </div>
        <div class="animal__new-owners">
            <p>Юридическое лицо</p>
            <p>адрес</p>
            <p>телефон</p>
            <p>Ф.И.О. опекунов: </p>
            <p>контактные данные: </p>
            <p>Физическое лицо (Ф.И.О.):</p>
            <p>паспорт РФ серии</p>
            <p>номер</p>
            <p>выдан "теми теми теми" года</p>
            <p>зарегистрированный (ая) по адресу: </p>
            <p>контактные данные: </p>
        </div>
        <div class="animal__move">
            <h2>Движение животного</h2>
            <p>Дата поступления в приют: ,</p>
            <p>Акт № </p>
            <p>Дата выбытия из приюта: ,</p>
            <p>Акт № </p>
            <p>Причина выбытия из приюта: </p>
        </div>
        <div class="animal__sanitation">
            <table class="animal__sanitation-table">
                <tr>
                    <th>№ п/п</th>
                    <td>"будет"</td>
                </tr>
                <tr>
                    <th>Дата</th>
                    <td>"будет"</td>
                </tr>
                <tr>
                    <th>Препарат</th>
                    <td>"будет"</td>
                </tr>
                <tr>
                    <th>Доза</th>
                    <td>"будет"</td>
                </tr>
                <tr>
                    <th>Подпись ветеринарного врача и печать</th>
                    <td>"будет"</td>
                </tr>
            </table>
        </div>
        <div class="animal__vaccination">
            <table class="animal__vaccination-table">
                <tr>
                    <th>№ п/п</th>
                    <td>"будет"</td>
                </tr>
                <tr>
                    <th>Дата</th>
                    <td>"будет"</td>
                </tr>
                <tr>
                    <th>Вид вакцины</th>
                    <td>"будет"</td>
                </tr>
                <tr>
                    <th>№ серии </th>
                    <td>"будет"</td>
                </tr>
                <tr>
                    <th>Подпись ветеринарного врача и печать</th>
                    <td>"будет"</td>
                </tr>
            </table>
        </div>
        <div class="animal__health">
            <table class="animal__health-table">
                <tr>
                    <th>№ п/п</th>
                    <td>"будет"</td>
                </tr>
                <tr>
                    <th>Дата осмотра</th>
                    <td>"будет"</td>
                </tr>
                <tr>
                    <th>Вес</th>
                    <td>"будет"</td>
                </tr>
                <tr>
                    <th>Анамнез</th>
                    <td>"будет"</td>
                </tr>
                <tr>
                    <th>Подпись ветеринарного врача и печать</th>
                    <td>"будет"</td>
                </tr>
            </table>
        </div>
        <div class="animal__responsible">
            <h2>Ответственные за животное</h2>
            <p>Ф.И.О. руководителя приюта/подпись: </p>
            <p>Ф.И.О. сотрудника по уходу за животным/подпись: </p>
        </div>
    </div>
</section>