<div class="admin-panel__controls controls">
    <div class="controls__group">
        <button class="controls__controls-btn btn" mat-flat-button color="primary"><span
                class="btn__text">Добавить</span></button>
        <div class="controls__search">
            <mat-form-field class="controls__search-field">
                <mat-label>Поиск</mat-label>
                <input matInput [(ngModel)]="searchStr" (input)="updateTable()">
            </mat-form-field>
        </div>
    </div>
    <div class="controls__filters animal-filters">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span class="animal-filters__title">Фильтры</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="animal-filters__list">
                    <div class="animal-filters__filter-container">
                        <div class="animal-filters__filter filter">
                            <p class="filter__name">Вид животного</p>
                            <ul class="filter__options">
                                <li class="filter__option" *ngFor="let option of filters[0].options">
                                    <mat-checkbox color="warn" #speciesCheckbox
                                        (change)="changeFilter($event, 'species', option)"
                                        [disabled]="checkDisabled('species', option, dataSource.data, speciesCheckbox)">
                                        {{option}}
                                    </mat-checkbox>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="animal-filters__filter-container">
                        <div class="animal-filters__filter filter">
                            <p class="filter__name">Пол</p>
                            <ul class="filter__options">
                                <li class="filter__option" *ngFor="let option of filters[1].options">
                                    <mat-checkbox color="warn" #genderCheckbox
                                        (change)="changeFilter($event, 'gender', option)"
                                        [disabled]="checkDisabled('gender', option, dataSource.data, genderCheckbox)">
                                        {{option}}
                                    </mat-checkbox>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="animal-filters__filter-container">
                        <div class="animal-filters__filter filter">
                            <p class="filter__name">Порода</p>
                            <ul class="filter__options">
                                <li class="filter__option" *ngFor="let option of filters[2].options">
                                    <mat-checkbox color="warn" #breedCheckbox
                                        (change)="changeFilter($event, 'breed', option)"
                                        [disabled]="checkDisabled('breed', option, dataSource.data, breedCheckbox)">
                                        {{option}}
                                    </mat-checkbox>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="animal-filters__filter-container">
                        <div class="animal-filters__filter filter">
                            <p class="filter__name">Окрас</p>
                            <ul class="filter__options">
                                <li class="filter__option" *ngFor="let option of filters[3].options">
                                    <mat-checkbox color="warn" #hair_colorCheckbox
                                        (change)="changeFilter($event, 'hair_color', option)"
                                        [disabled]="checkDisabled('hair_color', option, dataSource.data, hair_colorCheckbox)">
                                        {{option}}
                                    </mat-checkbox>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
<table class="table" mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="card_num">
        <th class="table__th" mat-header-cell *matHeaderCellDef mat-sort-header>№ карточки</th>
        <td class="table__td" mat-cell *matCellDef="let element">{{element.card_num}}</td>
    </ng-container>
    <ng-container matColumnDef="species">
        <th class="table__th" mat-header-cell *matHeaderCellDef mat-sort-header>Вид</th>
        <td class="table__td" mat-cell *matCellDef="let element">{{element.species}}</td>
    </ng-container>
    <ng-container matColumnDef="age">
        <th class="table__th" mat-header-cell *matHeaderCellDef mat-sort-header>Возраст, год</th>
        <td class="table__td" mat-cell *matCellDef="let element">{{element.age}}</td>
    </ng-container>
    <ng-container matColumnDef="weight">
        <th class="table__th" mat-header-cell *matHeaderCellDef mat-sort-header>Вес, кг</th>
        <td class="table__td" mat-cell *matCellDef="let element">{{element.weight}}</td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th class="table__th" mat-header-cell *matHeaderCellDef mat-sort-header>Кличка</th>
        <td class="table__td" mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>
    <ng-container matColumnDef="gender">
        <th class="table__th" mat-header-cell *matHeaderCellDef mat-sort-header>Пол</th>
        <td class="table__td" mat-cell *matCellDef="let element">{{element.gender}}</td>
    </ng-container>
    <ng-container matColumnDef="breed">
        <th class="table__th" mat-header-cell *matHeaderCellDef mat-sort-header>Порода</th>
        <td class="table__td" mat-cell *matCellDef="let element">{{element.breed}}</td>
    </ng-container>
    <ng-container matColumnDef="hair_color">
        <th class="table__th" mat-header-cell *matHeaderCellDef mat-sort-header>Окрас</th>
        <td class="table__td" mat-cell *matCellDef="let element">{{element.hair_color}}</td>
    </ng-container>
    <ng-container matColumnDef="hair_type">
        <th class="table__th" mat-header-cell *matHeaderCellDef mat-sort-header>Шерсть</th>
        <td class="table__td" mat-cell *matCellDef="let element">{{element.hair_type}}</td>
    </ng-container>
    <ng-container matColumnDef="size">
        <th class="table__th" mat-header-cell *matHeaderCellDef mat-sort-header>Размер</th>
        <td class="table__td" mat-cell *matCellDef="let element">{{element.size}}</td>
    </ng-container>
    <ng-container matColumnDef="id_tag">
        <th class="table__th" mat-header-cell *matHeaderCellDef mat-sort-header>id метка</th>
        <td class="table__td" mat-cell *matCellDef="let element">{{element.Pets_additional.id_tag}}</td>
    </ng-container>
    <ng-container matColumnDef="shelter_name">
        <th class="table__th" mat-header-cell *matHeaderCellDef mat-sort-header>Приют</th>
        <td class="table__td" mat-cell *matCellDef="let element">{{element.Shelter.name}}</td>
    </ng-container>
    <ng-container matColumnDef="district">
        <th class="table__th" mat-header-cell *matHeaderCellDef mat-sort-header>Округ</th>
        <td class="table__td" mat-cell *matCellDef="let element">{{element.Pets_catch_info.district}}</td>
    </ng-container>
    <ng-container matColumnDef="date_in">
        <th class="table__th" mat-header-cell *matHeaderCellDef mat-sort-header>Дата регистрации</th>
        <td class="table__td" mat-cell *matCellDef="let element">{{element.Pets_move.date_in}}</td>
    </ng-container>
    <ng-container matColumnDef="reason">
        <th class="table__th" mat-header-cell *matHeaderCellDef mat-sort-header>Причина выбытия</th>
        <td class="table__td" mat-cell *matCellDef="let element">{{element.Pets_move.reason}}</td>
    </ng-container>
    <ng-container matColumnDef="socialised">
        <th class="table__th" mat-header-cell *matHeaderCellDef mat-sort-header>Социализирован</th>
        <td class="table__td" mat-cell *matCellDef="let element">{{element.Pets_additional.socialised}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Действие</th>
        <td mat-cell *matCellDef="let element">
            <div class="table__controls">
                <button class="table__controls-btn btn table__edit" mat-ripple color="accent">
                    <fa-icon icon="pen" class="icon"></fa-icon>
                </button>
                <button class="table__controls-btn btn table__delete" mat-ripple color="warn">
                    <fa-icon icon="trash-alt"></fa-icon>
                </button>
            </div>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[20]" showFirstLastButtons></mat-paginator>